<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Main Stylesheet -->
    <link href="/public/stylesheets/style.css" rel="stylesheet">
</head>

<body>
    <!-- login -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center" style="font-size: 70px;">
                    <b>Login</b>
                </div>
            </div>
            <div class="row contact-bg p-5 rounded mb-5">
                <div class="col-lg-7 mb-4 mb-lg-0">
                    <form name="login_form" id="login_form">
                        <input type="email" required class="form-control mb-3" id="mail" name="mail"
                            placeholder="Your Email">
                        <input type="password" required class="form-control mb-3" id="password" name="password"
                            placeholder="Password">
                        <button type="submit" class="btn btn-secondary"><a href="/contact">LOGIN</a></button>
                    </form>
                </div>
            </div>
        </div>
        <!-- background shapes -->
        <img src="images/background-shape/feature-bg-2.png" alt="background-shape">
        <img src="images/background-shape/green-half-cycle.png" alt="background-shape">
        <img src="images/background-shape/green-dot.png" alt="background-shape">
        <img src="images/background-shape/service-half-cycle.png" alt="background-shape">
        <img src="images/background-shape/feature-bg-2.png" alt="background-shape">
    </section>
    <!-- footer -->
    <footer class="footer-section footer" style="background-image: url(images/backgrounds/footer-bg.png);">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </footer>
    <!-- /footer -->
</body>

<script>

</script>

</html>